.thanks {
    padding-left: 18px;
}

.contact {
    display: block;
    text-align: center;
    
}

/*oter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: slategrey;
    color: #FAEBD7;
    text-decoration: none;
    height: 45px;
    padding: 13px 0;
}*/
/*Image container*/
.eyebox {
    display: flex;
    flex-direction: row;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 300px;
    margin: 75px 0px 0px 0px;
    padding-top: 30px;
    align-items: stretch;
    background: url(https://images.unsplash.com/photo-1513758173941-bfbd2e4166f5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=200) no-repeat;
    background-size: 100%;
    opacity: 0.7;
    
}

.middlebox {
    display: flex;
    background-color: #ffffff;
    border: 3px solid black;
    opacity: 0.3;
    text-align: center;
    font-size: 20px;
    height: 70px;
    width: 100%;
    margin: auto;
}

.middlebox p {
    padding-top: 20px;
    margin: 0 auto;
    font-weight: bold;
    color: black;
}
