form {
/* Center the form on the page */
      margin: 0 auto;


/* To see the outline of the form */
      padding: 8px;
      width: 100%;
  }

  fieldset,
  .information  {
    margin: 0 auto;
    width: 250px;
  }

label {
  display: block;
  width: 150px;
}

/* Line Up labels in contact info block */
.lineUp {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
    
}

.lineUp > div {
    width: 250px;
    padding: 18px 0px 8px;
}


  input {
      /*Same font for text fields. */
      font: 16px sans-serif;

      /* To give the same size to all text fields */
      width: 175px;
      box-sizing: border-box;
      margin: 10px 10px 6px 1px;

      /* Text field border */
      border: 1px solid #999;
  }

  /* Outline text box */
  input:focus {
      border-color: blue;
  }

  input[type="checkbox"] {
      display: inline-block;
      width: 10%;
  }
  

button {
  margin-top: 7px;
}

/*Div for checkboxes*/
.help {
      display: inline-block;
      padding-left: 0;
      width: 506px;
      justify-items: center;
  }

/*Align submit button on form */
.setButton {
  border: none;
  text-align: center;
}
  
