/* Button */
.toplabel {
    display: inline-block;
    text-align: center;
    font-size: 15px;
    background-color: blue;
    color: white;
    padding: 10px;
    border-style: solid;
    min-width: 150px;
    margin: 0;
    align-self: center;
}

ul {
    padding: 0;
}

li {
    display: block;
    list-style: none;
    text-align: center;
    margin-top: 15px;
}

title {
    position: absolute;
    display: block;
    border: 3px solid red;
    width: 100px;
    height: 300px;
}

