* { /* Controls elements size*/
    box-sizing: border-box;
}

body {
    background-color: #FAEBD7;
    min-height: 600px;
    margin-bottom: 150px;
    padding: 0;
    clear: both;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: slategrey;
    color: #FAEBD7;
    text-decoration: none;
    height: 45px;
    padding: 13px 0;
}
/* Add background, color, style to nav bar */
.topnav {
    background-color: slategrey;
    color: #FAEBD7;
    list-style: none;
    text-align: center;
    padding: 20px 10px;
}

/* Links inside nav bar */
.topnav > li {
    display: inline;
    padding-right: 50px;
    padding-left: 20px;
}

/* take away line under list items */
.topnav li a {
    text-decoration: none;
    color: #FAEBD7;
}

/* hover selected link */
.topnav a:hover {
    color: black;
}

/* to center logo and image */
.logo-center {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 35%;
}

p1,
p3 {
    display: block;
    margin-left: 15px;
    margin-right: 15px;
}

h3 {
    font-size: 25px;
    padding-left: 18px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    border: 5px solid magenta;

}

.iteminbox {
    display: block;
    float: left;
    flex-direction: column;
    width: 50%;
    padding: 0 15px;
    flex-basis: 100%;
    flex: 1;
    justify-content: space-evenly;
    height: auto;
}


/*.flex-ctrbottom {
    position: fixed;
    left: 0;
    bottom: 0;
    align-self: center;
}*/

/*p4 {s
    text-align: center;
}*/


/* Media Queries */

/*@media (min-width: 769px) {
    .flex-container {
        width: 90%;
        margin: 0 auto;
    }
}
@media (min-width: 1025px) {
    .flex-container {
        width: 80%;
        max-width: 1025px;
    }
}*/
