* { /* Controls elements size*/
    box-sizing: border-box;
}

/*Controls the body of the site */
body {
    background-color: #FAEBD7;
    height: auto;
    margin-bottom: 80px;
    padding: 0;
    /*clear: both;*/
    font-family: 'Verdana';

}

/* Add background, color, style to nav bar */
.topnav {
    display: flex;
    flex-direction: row;
    background-color: slategrey;
    color: #FAEBD7;
    list-style: none;
    padding: 0px 15px 10px;
    justify-content: center;
    height: 50px;
}

/* Links inside nav bar */
.topnav > li {
    flex: 1;
    display: inline-block;
    padding-right: 12px;
}

/* take away line under list items */
.topnav li a {
    text-decoration: none;
    color: #FAEBD7;
}

/* hover selected link */
.topnav a:hover {
    color: black;
}


/* logo */
.logo-center {
    max-width: 165px;
    max-height: 165px;
    padding-left: 50px;
    
}

.twoContainers {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.tagplace {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: center;
    height: 80px;
    padding-left: 95px;
    margin: 0;
}

.tagline {
    display: block;
    font-size: 14px;
    align-self: center;
}

.location {
    display: block;
    text-align: center;
    margin-top: 8px;
}

hr {
    border: none;
    padding-bottom: 1px;
    margin: 15px;
    height: 2px;
    color: blue;
    background-color: black;
}

p {
    display: flex;
    margin-top: 0;
    padding-left: 18px;
}


/*Flex container for program page*/
.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

/*Flex item in program flex container*/
.iteminbox {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 15px;
    flex-basis: 100%;
    flex: 1;
    justify-content: flex-start;
    height: auto;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: slategrey;
    color: #FAEBD7;
    text-decoration: none;
    height: 45px;
    padding: 13px 0;
}

/*  Media Queries */

@media screen and (max-width: 500px) {
    
.topnav {
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
}

.topnav li {
    flex-basis: 50%;
}

h3 {
    text-align: center;
    padding-left: 0;
    margin-bottom: 8px;
    margin-top: 19px;
}

.tagline {
    font-size: 11px;
    font-weight: 600;
}

.tagplace {
    padding-left: 46px;
    width: 235px;
}

.logo-center {
    padding-left: 40px;
}
 
}

@media screen and (max-width: 562px) {
    fieldset,
    fieldset .informstion,
    .help {
        max-width: 100%;
        margin: 0;
    }
}
